<!DOCTYPE HTML>
<html>
    <head>
        <title>Job Tracker Jobs</title>
    </head>
    <body>
        <section class="hero is-primary is-small">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title is-1">
                        All Jobs in <%= @city %>
                    </h1>
                    <h2 class="subtitle">
                        <%= button_to "New Job", new_job_path, method: "get", class: "button is-success"  %>
                    </h2>
                </div>
            </div>
        </section>
        <%= render partial: 'list' %>
    </body>
</html>