<!DOCTYPE HTML>
<html>
<head>
  <title>Job Tracker Jobs</title>
</head>
<body>
<div class="hero">
<h1>All Jobs</h1>
<button><a <%= link_to 'New Job', new_job_path %></button>
</div>

<% @jobs.each do |job| %>
  <ul><%= job.title %> at <%= job.company.name %></ul>
<% end %>
</body>
</html>